body {
  font-family: "Arial, Helvetica, sans-serif";
  background-color: "#00000";
  margin: 0;
  padding:0;
}

#container-app {
  padding:0;
}
.container {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/* HEADER */
nav {
  padding: 5px;
}
.navbar-brand {
  padding: 0px;
  font-size: 20px;
}
#searchForm {
  height: 40px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inputSearch {
  height:100%;
  max-width: 100%;
  z-index: 0;
}

#searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  right: 3%;
  z-index: 1000;
  height:100%;
  width: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


#searchIcon {
  color: black;
  height: 15px;
  width: 15px;
}

#link {
  cursor: pointer;
}

.title {
  text-align: center;
  margin-top:40px;
  margin-bottom:15px;
  font-family: Roboto;
}

.input-form {
  margin-bottom: 10px;
}

#container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-form-link {
  margin-bottom: 10px;
}

.span-error {
  color: red;
  font-size: 12px;
  font-family: 'Times New Roman, Times, serif';
  text-align: center
}


/**
* HOME
*/
.image-main {
  width: 100%;
  height: 450px;
}
.image-main img {
  width: 100%;
  height: 100%;
}
/* Card */
#content-main {
  background: #131313;
  padding: 20px;
}

#container-select {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background-color: #303030;
}

#container-cards {
  margin: 15px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-container { 
  margin: 15px;
  display: flex;
  flex-basis: row;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-items: center;
}

.image-card {
  width: 100%;
  min-height: 450px!important;
  max-height: 450px!important;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** Content **/
.content-container {
  background-color: #303030;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.content-container-mains {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.content-info-header {
  display: flex;
  flex-direction: row;
}

/** Put in center and end **/
.content-info-main {
  display: flex;
  text-align: center;
  align-items: end;
}
.content-info-main p {
  margin-right: 5px;
  font-size: 13px;
}
.content-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 14px;
}
#content-info-desc {
  margin-top: -10px;
  width: 100%;
}

#img-content {
  max-height: 900px;
  min-height: 200px;
  max-width: 600px;
  min-width: 200px;
}

.selects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.selects-container select {
  margin-left: 10px;
  margin-right: 10px;
}

.content-info-review {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
